.footer {
    background-color: #103f5d;

    &__top {
        border-top: 7px solid #e33c2a;
        width: 100%;
    }

    &__img {
        margin-left: 35%;
    }

    &__efect {
        background: url(../images/Puet_pictures/footer/dreambig_shadow.jpg);
        height: 42px;
    }

    &__contact {
        margin-bottom: 100px;
        margin-right: 40px;
        display: flex;
        justify-content: space-between;
        justify-content: center;
        align-items: flex-end;
        color: #fff;
        font-size: 12px;
    }

    &__text {
        margin-right: 20px;
    }

    &__media {
        display: flex;
        flex-direction: column;
    }

    &__block {
        display: flex;
    }

    &__href {
        margin-top: 10px;
        margin-right: 10px;
    }

    &__row {
        flex-wrap: nowrap;
    }
}

